#repos, #gists, #profile{
  height: 400px;
  width: 50%;
  float: left;
  margin: 1%;
}



body, html {
  margin: 0;
  color: #777;
  background-color: lightgrey;
  overflow-x: hidden;
  font-family: "Khula", "Roboto", sans-serif
}

html {
  font-size: 1vh;
}

p {
  font: 2rem "Khula";
  text-justify: auto
}

h1 {
  font: 4rem "Roboto";
}

h2 {
  font: 5rem "Roboto";
  text-align: center;
}

h3 {
  font: 2rem "Lora";
  font-style: italic;
}

h4 {
  font: 3rem "Khula";
}

a:visited {
  color: teal;
  text-decoration: none;
}

a:link {
  color: teal;
  text-decoration: none;
}

a:hover {
  color: teal;
  text-decoration: none;
}


.first {
  position: relative;
  background-image: url("images/background1.jpg");
  min-height: 110rem;
  height: auto;
  background-size: cover;
  display: flex;
}

.sub {
  background-color: white;
  color: teal;
  border-radius: 5rem;
  margin: 5rem;
}

#maintitle {
  height: 40rem;
  margin-left: -80vw;
  margin-top: 13rem;
}

#maintitle.fade {
  justify-content: center;
  text-align: center;
  margin-left: 7vw;
  margin-top: 13rem;
  transition: 1.5s
}

.logo {
  height: 40rem;
}

#quote {
  position: absolute;
  width: 20vw;
  margin-top: -100rem;
  right: 7vw;
  transition: 2s;
  color: grey;
  text-align: center;
}

#quote.fade {
  position: absolute;
  width: 20vw;
  right: 7vw;
  margin-top: 7rem;
  transition: 2s;
  color: grey;
  text-align: center;
}

.back2 {
  background-image: url("images/background2.jpg");
  background-size: cover;
}

.second {
  position: relative;
  min-height: 55rem;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.second_text {
  position: relative;
  background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.85), rgb(27, 27, 27));
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  min-height: 52rem;
  width: 90vw;
  margin-left: 5vw;
  border-bottom: 5vw;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.text {
  font: 5rem "Roboto";
  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  width: 20vw;
  text-align: center;
}

.bar {
  height: 2rem;
  background-image: linear-gradient(to bottom right, teal, rgb(0, 116, 67));
}

.pfp {
  margin-right: 5vw;
  margin-left: 5vw;
  height: 35rem;
  margin-top: 12rem;
}

.images {
  position: absolute;
  justify-content: center;
  text-align: center;
}

.imagesm {
  display: none
}

#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8 {
  width: 5vw;
  margin-bottom: 12rem;
  margin-right: 1vw;
  margin-left: 1vw;
  opacity: 0;
}

#t1.fade, #t2.fade, #t3.fade, #t4.fade, #t5.fade, #t6.fade, #t7.fade, #t8.fade {
  width: 5vw;
  margin-bottom: 12rem;
  margin-right: 1vw;
  margin-left: 1vw;
  opacity: 1;
  transition: 0.5s;
}

#t1:hover, #t2:hover, #t3:hover, #t4:hover, #t5:hover, #t6:hover, #t7:hover, #t8:hover {
  filter: invert(100%);
}

.third {
  position: relative;
  background-image: url("images/background3.jpg");
  min-height: 100rem;
  height: auto;
  background-size: cover;
  display: flex;
}

.third_text {
  width: 70vw;
  background-image: linear-gradient(to bottom , rgba(255, 255, 255, 0.6), rgb(207, 207, 207));
  border-radius: 5rem;
  margin-left: 15vw;
  margin-top: 5rem;
  height: 35rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.third_main {
  margin-top: 0rem;
  font-size: 6rem;
  color: black;
}

.typebox {
  height: 3rem;
}

.footer {
  height: 15rem;
  background-color: rgb(19, 19, 19);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footerimages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.footeri {
  margin-top: 4rem;
  height: 4rem;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 2rem;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(172deg) brightness(105%) contrast(105%);
}

.footeri:hover {
  filter: invert(25%) sepia(57%) saturate(6701%) hue-rotate(169deg) brightness(95%) contrast(101%);;
}

.notice{
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .first {
    background-image: url("images/background1m.jpg");
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .back2 {
    background-image: url("images/background2m.jpg");
  }

  .third {
    background-image: url("images/background3m.jpg");
  }

  #maintitle {
    height: 40rem;
    margin-left: -50vw;
    margin-top: 20rem;
  }

  #maintitle.fade {
    text-align: center;
    margin-left: 0;
    margin-top: 20rem;
    transition: 1.5s
  }

  #quote {
    display: none;
  }

  #quote.fade {
    display: none;
  }

  .second_text {
    flex-direction: column;
  }

  .text {
    font: 5rem "Roboto";
    margin-top: 5rem;
    padding-bottom: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: center;
    width: auto;
  }

  .third_text {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 10vw;
  }

  .images {
    display: none
  }

  .imagesm {
    display: flex;
    flex-direction: column;
  }

  #t1m, #t2m, #t3m, #t4m, #t5m, #t6m, #t7m, #t8m {
    width: 15vw;
    margin: 2rem;
    opacity: 0;
  }

  #t1m.fade, #t2m.fade, #t3m.fade, #t4m.fade, #t5m.fade, #t6m.fade, #t7m.fade, #t8m.fade {
    width: 15vw;
    margin: 2rem;

    opacity: 1;
    transition: 0.5s;
  }

  .pfp {
    margin-top: 5rem;
  }

  .logo {
    height: 30rem;
  }
}