body {
    color: azure;
    background-color: #1c1c1c;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #808080;
}

img {
    border-radius: 25px;
    height: 15%;
    width: 15%;
}

h1 {
    text-align: center;
}
